
import sqlite3

class Database:

    def __init__(self):
        self.conn = sqlite3.connect("esports.db")
        self.cur = self.conn.cursor()
        self.setup()

    def setup(self):

        self.cur.execute(
            """
            CREATE TABLE IF NOT EXISTS teams(
                owner_id INTEGER PRIMARY KEY,
                name TEXT,
                elo INTEGER
            )
            """
        )

        self.cur.execute(
            """
            CREATE TABLE IF NOT EXISTS matches(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                team1 INTEGER,
                team2 INTEGER,
                winner INTEGER
            )
            """
        )

        self.conn.commit()

    def create_team(self, owner_id, name):
        self.cur.execute(
            "INSERT INTO teams(owner_id,name,elo) VALUES(?,?,?)",
            (owner_id, name, 1000)
        )
        self.conn.commit()

    def delete_team(self, owner_id):
        self.cur.execute(
            "DELETE FROM teams WHERE owner_id=?",
            (owner_id,)
        )
        self.conn.commit()

    def get_team(self, owner_id):
        self.cur.execute(
            "SELECT * FROM teams WHERE owner_id=?",
            (owner_id,)
        )
        return self.cur.fetchone()

    def all_teams(self):
        self.cur.execute("SELECT name,elo FROM teams ORDER BY elo DESC")
        return self.cur.fetchall()

    def update_elo(self, owner_id, elo):
        self.cur.execute(
            "UPDATE teams SET elo=? WHERE owner_id=?",
            (elo, owner_id)
        )
        self.conn.commit()
